@import "./../../mixin/mixin";

.tituloCartView {
  margin-bottom: 1em;

  @media (max-width: 991px) {
    margin-top: 2em;
  }
}

.itemCartView {
  @include cuadroEsmerilado((nth($colors, 6)));
  width: 70%;
  height: 12em;
  display: flex;

  margin: 1em auto 0;

  padding: 0 5em 0 1em;

  justify-content: space-between;
  align-items: center;

  .itemDetailPic {
    width: 10em;
  }

  p {
    padding-top: 1em;
  }

  .botonEliminarUno {
    @include botonRojoRedondo;

    width: 2.5em;
    height: 2.5em;

    margin-right: -2em;

    .icon {
      font-size: 1.8em;
    }
  }

  @media (max-width: 991px) {
    width: 100%;
    height: 10em;

    .botonEliminarUno {
      width: 3em;
      height: 3em;

      margin-right: -4em;

      .icon {
        font-size: 1.8em;
      }
    }

    .itemDetailPic {
      width: 5em;
    }
  }
}

.textoTotal {
  font-size: 2em;
  padding-top: 1em;

  @media (max-width: 991px) {
    font-size: 3em;
    padding-top: 1.5em;
  }
}
