@import "./../../mixin/mixin";

.itemDetailPic {
  width: 20em;
}

.botonItemDetail {
  @include botonDoradoRedondo;

  width: 3.5em;
  height: 3.5em;

  margin-left: 1em;

  .icon {
    font-size: 2.5em;
  }
}
