@import "./../../mixin/mixin";

h2 {
  @include letraBrillante(1.5em, (nth($colors, 1)));
  font-size: 2em;
}

.itemCard {
  // @include cuadroBrillante((nth($colors, 3))) background-color: chartreuse;
  @include cuadroEsmerilado((nth($colors, 6)));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 13em;
  height: 15em;

  margin: 1.5em 1.5em;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;

  h3 {
    font-size: 1.5em;
  }

  img {
    width: 5em;
    height: 5em;
    // border: 0.1em solid rgb(0, 0, 0);
  }
}
button {
  flex-direction: row;
  @include botonDoradoRedondo;

  .icon {
    font-size: 1.1em;
    margin-bottom: 0.2em;
  }
}
