.CartWidget {
  font-size: 4em;
  position: absolute;
  right: 1em;
  top: -0.3em;

  transition: transform 1.5s;

  display: flex;

  .icon {
    color: aliceblue;
  }

  p {
    padding: 0.1em 0 0.1em 0.2em;
  }

  &:hover {
    transform: scale(2);
    color: rgb(118, 6, 238);

    .icon {
      color: rgb(118, 6, 238);
    }
  }

  @media (max-width: 991px) {
    font-size: 6em;
    position: absolute;
    right: 0.2em;
    top: -0.2em;
  }
}

.CartWidgetDisable {
  font-size: 4em;
  position: absolute;
  right: 1em;
  top: -0.3em;

  display: flex;

  pointer-events: none;

  color: rgb(113, 113, 113);

  .icon {
    color: rgb(113, 113, 113);
  }

  p {
    padding: 0.1em 0 0.1em 0.2em;
  }

  @media (max-width: 991px) {
    font-size: 6em;
    position: absolute;
    right: 0.2em;
    top: -0.2em;
  }
}
