@import "./../../mixin/mixin";

.PurpleHazeApp {
  background-image: url("https://img.purch.com/rc/1280x1024/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0My8zMjcvb3JpZ2luYWwvYXJvdW5kLWEtc3Rhci1zeXN0ZW0tMTYwMC5qcGc=");
  background-color: black;
  background-position: center;

  min-height: 100vh;

  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;

  padding: 8em 0 5em 0;

  h2 {
    @include letraBrillante(1.5em, (nth($colors, 1)));
    font-size: 2em;
  }
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    padding: 10em 1em 2em 1em;
  }
}
