@import "./../../mixin/mixin";

.PurpleHazeApp {
  background-image: url("https://img.purch.com/rc/1280x1024/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0My8zMjcvb3JpZ2luYWwvYXJvdW5kLWEtc3Rhci1zeXN0ZW0tMTYwMC5qcGc=");
  background-color: black;
  background-position: center;

  min-height: 100vh;

  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  padding: 10em 0 3em 0;
}
