@import "./../../mixin/mixin";

.formContainer {
}

.finalizarBoton {
  @include botonDoradoRedondo;

  width: 5em;
  height: 5em;
  box-sizing: border-box;
  margin-top: 2em;

  .icon {
    font-size: 4em;
    border-radius: 25px;
  }
  &:hover {
    color: rgb(30, 169, 44);
    transform: scale(1.3);
  }
}
