@import "./../../mixin/mixin";

.BotoneraVolverYHome {
  .botonItemDetail {
    @include botonDoradoRedondo;

    width: 3.5em;
    height: 3.5em;

    margin: 0 6em 1em 6em;

    .icon {
      font-size: 2.5em;
    }
  }

  .finish {
    width: 5em;
    height: 5em;

    .icon {
      font-size: 2em;
    }
  }

  @media (max-width: 991px) {
    .botonItemDetail {
      width: 6em;
      height: 6em;
      position: fixed;
      bottom: 4.3em;
      margin: 0;

      &:nth-child(1) {
        left: 2em;
      }
      &:nth-child(2) {
        right: 2em;
      }

      .icon {
        font-size: 4.5em;
      }
    }

    .finish {
      width: 6em;
      height: 6em;

      .icon {
        font-size: 4.5em;
      }
    }
  }
}
