.header {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 21%,
    rgba(83, 0, 179, 0.5189426112241772) 73%,
    rgba(0, 0, 0, 1) 96%
  );
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;

  display: flex;
  z-index: 1;

  margin: auto;
  padding: 0.8em 0 1em 2em;

  width: 100%;
  height: 5em;

  position: fixed;
  top: 3em;

  h1 {
    display: none;
  }

  .topLogo {
    position: absolute;
    height: 4em;
    top: 0.5em;
    left: 3em;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin-right: 3em;

    position: absolute;
    right: 12em;

    li {
      margin: 0.4em 1.5em 0.4em 1.5em;
      color: rgb(160, 160, 160);
      transition: all 1s ease-in-out;
      font-size: 1.5em;
      a {
        color: rgb(160, 160, 160);
        text-decoration: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      @media (min-width: 991px) {
        &:hover {
          transform: scale(2);
          color: white;
          cursor: pointer;
        }

        a {
          transition: all 1s ease-in-out;

          &:hover {
            color: white;
          }
        }
      }
    }

    .dropDown {
      position: relative;

      .dropDownMenu {
        position: absolute;
        left: 0.6em;
        top: calc(100% + 2em);
        padding: 1em 0 2em 0;
        margin: 0;

        background-image: url(../../fondo2.png);
        background-position: center;
        background-size: cover;

        border-radius: 1em;
        border: 0.05em double rgb(105, 105, 105);

        border-radius: 1em 1em 1em 1em;
        box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0);

        a {
          color: white;
          text-shadow: 0em 0em 1em rgb(0, 0, 0);
        }
      }
    }
  }

  .burger {
    display: none;
  }

  @media (max-width: 991px) {
    .topLogo {
      position: absolute;
      height: 4em;
      top: 0.5em;
      left: 10em;
    }

    .burger {
      display: block;
      position: fixed;
      left: 2em;
      width: 3.5em;
      height: 3.5em;
      background: none;
      border: none;

      .icon {
        font-size: 3.5em;
        color: white;
      }
    }

    ul {
      background-image: url(../../fondo2.png);
      background-position: center;
      position: fixed;
      top: 10em;
      left: -11em;

      flex-direction: column;
      padding: 2em 0;
      margin: 0;
      width: 48%;

      max-width: 13em;
      min-width: 9em;

      border: 0.05em double rgb(105, 105, 105);

      border-radius: 1em 1em 1em 1em;
      box-shadow: 0 0 5px rgb(0, 0, 0), 0 0 15px rgb(0, 0, 0);

      transition: left 0.5s;

      li {
        color: white;
        a {
          color: white;
        }
      }

      .dropDown {
        position: relative;

        .dropDownMenu {
          position: absolute;
          left: 14em;
        }
      }
    }

    .menuVisible {
      left: 2em;
    }
  }
}
