@import "./../../mixin/mixin";

.ContainerClicker {
  @include cuadroDorado;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;

  width: 8em;
  height: 2.5em;

  margin: 0.5em auto 1em;

  white-space: normal;

  p {
    font-size: 1.6em;
    padding-top: 0.3em;
  }

  .botonDorado {
    width: 1.6em;
    height: 1.6em;

    @include botonDoradoRedondo;

    .icon {
      font-size: 1.1em;
      margin-bottom: 0.3em;
    }
  }

  .botonDisable {
    width: 1.6em;
    height: 1.6em;

    @include botonDoradoRedondoDisable;

    .icon {
      font-size: 1.1em;
      margin-bottom: 0.3em;
    }
  }

  .botonDoradoOk {
    &:hover {
      color: rgb(30, 169, 44);
      transform: scale(1.3);
    }
    .icon {
      margin-top: -0.2em;
    }
  }

  @media (max-width: 991px) {
    width: 8em;
    height: 2.5em;
    font-size: 2em;
    position: fixed;
    bottom: 1.5em;

    .botonDorado {
      width: 2em;
      height: 2em;

      .icon {
        font-size: 1em;
        margin-bottom: 0.1em;
      }
    }

    .botonDisable {
      width: 2em;
      height: 2em;

      .icon {
        font-size: 1.4em;
        margin-bottom: 0.1em;
      }
    }

    .botonDoradoOk {
      &:hover {
        color: rgb(30, 169, 44);
        transform: scale(1.3);
      }
      .icon {
        margin-top: -0.2em;
      }
    }
  }
}
