@import "./../../mixin/mixin";

.section1 {
  font-size: 2em;

  p {
    @include letraBrillante(1.5em, (nth($colors, 1)));
  }
}

.itemCard {
  // @include cuadroBrillante((nth($colors, 3))) background-color: chartreuse;
  @include cuadroEsmerilado((nth($colors, 6)));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 13em;
  height: 23em;

  margin: 1.5em 1.5em;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  //padding-top: 3em;

  .botonVerMas {
    @include botonDoradoRedondo;

    width: 3.5em;
    height: 3.5em;

    .icon {
      font-size: 2.5em;
    }
  }

  h3 {
    font-size: 1.5em;
  }

  img {
    width: 10em;
    height: 10em;
    // border: 0.1em solid rgb(0, 0, 0);
  }
}
